@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

/* Setup */
body, html {
  height: 100%
}

.wrapper {
  margin: 0 auto;
  width: 1040px;
  height: 100%;
  background-color: #060;
  position: relative;
}

#header {
  width: 100%;
  height: 100px;
  background-color: black;
  border: 1px dashed white;
  text-align: center;
}

h1, h2 {
  color: white;
  font-family: "Trade Winds", "Georgia", serif;
  line-height: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 40px;
  color: red;
  margin-left: 10px;
  margin-top: 10px;
}

/* Diamond */
#diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid red;
	position: relative;
	top: -50px;
}

#diamond-narrow:after {
	content: '';
	position: absolute;
	left: -50px; top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid red;
}

/* Ace */
#ace {
    height: 300px;
    width: 200px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    left: 100px;
    top: 150px;
    z-index: 1;
    background-color: white;
}



